body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

#contenido {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

/* Logo y Nombre */ 
#header {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}

/* menu de navegación*/ 

.nav {
	justify-self: end;
}

.barra {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}


/* Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* Dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Oculto) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Color en hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Menu en hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Background color en sub */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  /* Imagen */

  .img {
    align-items: center;
  }
